pkgbase = joshuarli-mpv
	pkgdesc = a free, open source, and cross-platform media player
	pkgver = 0.29.1
	pkgrel = 1
	url = https://mpv.io/
	arch = x86_64
	license = GPL3
	makedepends = waf
	makedepends = mesa
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = lua52
	depends = libxkbcommon
	depends = libxrandr
	depends = libxinerama
	provides = mpv
	conflicts = mpv
	source = mpv-0.29.1.tar.gz::https://github.com/mpv-player/mpv/archive/v0.29.1.tar.gz
	sha256sums = f9f9d461d1990f9728660b4ccb0e8cb5dce29ccaa6af567bec481b79291ca623

pkgname = joshuarli-mpv

